@import url('https://fonts.googleapis.com/css?family=Open+Sans');

header, footer
{
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;;
    color: white;
    text-align: center;
    background: #aadcdd;
    max-width: 75%;
    margin: 1.25rem;
}
h1{
    font-size: 40px;
}
img {
    float: right;
}
h2{
    margin: 1.00rem;
    border-bottom: 1px solid;
    border-bottom-color: #808080;
    border-bottom-width: 75%;
}


nav ul li a {
    display: block;
    padding: .5rem 1rem;
}
main h1 {
    clear: both;
}

footer {
    text-align: center;
    clear: both;
}