@import url('https://fonts.googleapis.com/css?family=Open+Sans');

header, footer
{
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;;
    color: white;
    text-align: center;
    background: #aadcdd;
    max-width: 75%;
    margin: 1.25rem;
}
h1{
    font-size: 40px;
}
img {
    float: right;
    position: relative;

}
h2{
    margin: 1.00rem;
    border-bottom:1px #808080 solid;
    max-width: 75%;
    margin:1.25rem;

}
main h1 {
    clear: both;
}

footer {
    text-align: center;
    clear: both;
}