@import url('https://fonts.googleapis.com/css?family=Open+Sans');
header, footer
{
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    background: #aadcdd;
    max-width: 75%;
    margin: 1.25rem;
}
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    height:100%;
    color: #555d66;

}

h1{
    font-size: 1.5rem; 
    margin: 0.15rem;

}
img {
    float: right;
    position: relative;

}
h2{
    font-size: 1rem;
    margin: 1.00rem;
    border-bottom:1px #979797 solid;
    margin-bottom:.05rem;
    max-width: 75%;

}
main h1 {
    clear: both;
}

footer {
    text-align: center; 
    clear: both;
}