@import url('https://fonts.googleapis.com/css?family=Open+Sans');

header, footer
{
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;;
    color: white;
    text-align: center;
    background: #aadcdd;
    max-width: 650;
    margin: 1.00rem;
}
img {
    float: right;

}

nav ul li a {
    display: block;
    padding: .5rem 1rem;
    background-color:#20B2AA;
}
main h1 {
    clear: both;
}
main img {
    float: right;
}
footer {
    text-align: center;
    clear: both;
}