/* 64em is also 1028px (if basefont is 16px)@media only screen and (min-width:1028px) */
@media only screen and (min-width: 64em) {
  header img {
    width: 100%;
  }
 /*---gallery html------*/
  .gallerycontainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

   /*---gallery html------*/
   .gallerycontainer figcaption{
    display: grid;
}
/* hover class box shadow over image*/
.item:hover {
  box-shadow: 0 0 20px #333;
}
 /*---gallery html------*/
/*show font in large view*/
.item {
  font-size: smaller;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* stormcenter---*/
  /*--change the large check boxes to smaller one for large view only  --*/
  form label.sbs{
    /*--this changes the size and brings them closer together  --*/
   padding: .4rem 0;
}

  /*----------- FOOTER --------------*/
}