/* 35em is also 560px (if basefont is 16px) tablet view */
@media only screen and (min-width: 37.5rem) {

    /*----------- BODY --------------*/
    /*----------- HEADER --------------*/
    header h1 {
        font-size: 2.5rem;
    }
    header h2 {
        font-size: 1.5rem;
    }
    header,
    footer {
        border-radius: 10px;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    section:nth-child(2){
        display: block;
    }
    section:nth-child(3){
        grid-column: span 2;
    }

    main section picture img {
        width: 100%;
        height: auto;
        border: .5px solid #bbb;
        border-radius: 5px;
    }
    /*----------- FOOTER --------------*/

}

/* end of media query */