/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* body rules here */
/* designed to read on mobile devices*/
/* default size*/
body {
    font-size: 16px;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* header rules here - work way down*/
header {
    padding: .5rem 1%;
}

/* header h1 is a child of header*/
header h1 {
    margin: 0;
    font-size: 1.5rem;
}

/* header h2 is a child of header*/
header h2 {
    font-size: 1rem;
    margin: 0;
}

header,
footer {
    text-align: center;
    background: #aadcdd;
    color: white;
    margin: 0 auto;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* navigation rules here*/
/* navigation ul rules here usualling margin and padding*/
/* adjust background li list-style-type none */
/* navigation a rules here display to block padding color text align text decoraton*/
/* navigation a: hover rules here bacground color to change color*/
/* navigation tell user so go to html add class of active  li class of active or nav li.active here*/
/* navigation rules here*/
main {
    max-width: 767px;
    margin: 0 auto;
    padding: .5rem 1%;
    display: block;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main h2{
    color: #536878;
}

/* main figure img space image to be 100 percent wide or width 100%*/
/* main figure img howt o fit on the page */ 
/* main figure main figure margin:0; */
/* main figcaption { text-align:center; font size .8rem */
main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
}

section:nth-child(3) {
    display: none;
    margin: 0.5rem;
}

.colimage {
    box-shadow: 0 0 30px #333;
}

footer {
    font-size: .8rem;
    padding-bottom: 0.5rem 1%;
}

/* clearfix to help with nav */
.clearfix after {
    content:"";
    display: table;
    clear: both;
}