

/* body rules here */
/* designed to read on mobile devices*/
/* default size*/
body {
    font-size: 100%;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

/* header rules here - work way down*/
header {
    padding: .5rem 2%;
}

/* header h1 is a child of header*/
header h1 {
    margin: 0;
    font-size: 1.5rem;
}

/* header h2 is a child of header*/
header h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}
header, main, footer{
    margin: 0 auto;
    max-width: 767px;
}
header,
footer {
    text-align: center;
    background: #aadcdd;
    color: white;
    margin: 0 auto;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    
}

/* navigation rules here*/
/* navigation ul rules here usualling margin and padding*/
/* adjust background li list-style-type none */
/* navigation a rules here display to block padding color text align text decoraton*/
/* navigation a: hover rules here bacground color to change color*/
/* navigation tell user so go to html add class of active  li class of active or nav li.active here*/
/* navigation rules here*/
main {
    margin: 0 auto;
    padding: 1rem;
}

/* main figure img space image to be 100 percent wide or width 100%*/
/* main figure img howt o fit on the page */
/* main figure main figure margin:0; */
/* main figcaption { text-align:center; font size .8rem */
main {
    display: grid;
    grid-template-columns: 1fr;
}
img{
    max-width: 100%;
    height: auto;
    float: left;
}

h3 {
    padding-top: .50rem;
    margin: 0 0 0 0;
}
main picture {
    display: block;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
    text-align: center;
    color: #536878;
}

section:nth-child(2) {
    /* display: none;*/
    margin: 0.5;
}

footer {
    font-size: .8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

/* clearfix to help with nav */
.clearfix after {
    content: "";
    display: table;
    clear: both;
}