/* 35em is also 560px (if basefont is 16px) tablet view 32.5 rem i s 527.10px
@media only screen and (min-width:560px*/
@media only screen and (min-width: 32.5rem) {
 

    header {
        border-bottom: 1px solid#aab1b2;
    }

    .heading h1 {
        font-size: 2.5rem;
    }

    .m {
        font-size: 1.5rem;
    }

 

    #main {
        max-width: 600px;
    }


}