/* 64em is also 1028px (if basefont is 16px)@media only screen and (min-width:1028px) */
@media only screen and (min-width: 64em) {
  header img {
    width: 100%;
  }

  .gallerycontainer {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1048px;
  }
  /* hover class box shadow over image*/
  .gallery:hover{
    display: grid;
      box-shadow: 0 0 50px #333;
  }
  /*show font in large view*/
  .gallerycontainer figcaption{
    display: grid;
      font-size: smaller;
  }
  /*----------- FOOTER --------------*/
}