/* 35em is also 560px (if basefont is 16px) tablet view */
@media only screen and (min-width: 37.5rem) {

    /*----------- BODY --------------*/
    /*----------- HEADER --------------*/
   nav {
        border-radius: 2px;
    }
    
    header h1 { font-size: 2.5rem;}

    header h2 {font-size: 1.5rem;}
 
    nav li{float: left; width: 25%;}

    /*----------- NAVIGATION --------------*/
    /* navigation li rules here float left width:25% */
    /*----------- MAIN --------------*/
    #main {
        max-width: 600px;
    }


    /* main <figure { float right width 48% margin left 2% 
    padding */
   
    /*----------- FOOTER --------------*/

    footer {
        border-radius: 2px;
    }
  
    
    
    } /* end of media query*/

/* end of media query */


/* OR I CAN IT THIS WAY FOR A BASIC 
@media only screen and (min-width:  32.5em) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    header,footer {
        border-radius: 4px;
    }

    header img {
        float: right;
        border-radius: 4px;
    }

}*/