/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 60em) {
    /*----------- BODY --------------*/
    /*----------- HEADER --------------*/
    /*----------- NAVIGATION --------------*/
header, footer, nav, main {max-width: 75rem; margin: auto;}
nav ul {padding-left: 25%;}
nav li{width: auto;}
nav a {padding: .5rem 1rem;}
      /* navigation li rules here width auto padding .5rem 1rem */
       /* navigation ul rules here padding left 2% to get everything to line up */
    /*----------- MAIN --------------*/
    main {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }
    section:nth-child(3) {
		grid-column: span 1;
	}
    /* main figure change width to 31% */

    /*----------- FOOTER --------------*/
}
/* end of media query */
