@media only screen and (min-width:  32.5em) {
     /*----------- BODY --------------*/
    /*----------- HEADER --------------*/
    header h1 {
        font-size: 2.5rem;
    }
    header h2 {
        font-size: 1.5rem;
    }
    header,nav,footer {
        border-radius: 4px;
    }
    header img {
        float: left;
        border-radius: 1px px 1px 1px;
    }
    /*----------- NAVIGATION --------------*/
    /* navigation li rules here float left width:25% */
    nav li{float:left; width: 20%}
    
    nav li.active{
        border-radius: 2px;
    }

    /*----------- MAIN --------------*/
    main {
        grid-template-columns: 1fr 1fr;
        
    }

    section:nth-child(2) {
        display: block;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }

    /* main <figure { float right width 48% margin left 2% 
    padding */
   main section picture img {
        width: 100%;
        height: auto;
        border: .5px solid #bbb;
        border-radius: 5px;
        
    }
    

}