
html {
  font-family: 'Ubuntu', sans-serif;
  }
  
  table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    table-layout: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px;
    box-shadow:10px 10px 10px #628ca6;
    
  }

  h1{
    font: 2rem;
    font-style: bold;
    margin: 0;
  }
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);

  }

  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: #e7f0ed;
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(235,235,235);
  }
  
