/* 35em is also 560px (if basefont is 16px) tablet view */
@media only screen and (min-width: 32.5rem) {
    header img {
        width: 100%;
        height: auto;
    }

    .heading h1 {
        font-size: 2.5rem;
    }

    .m {
        font-size: 1.5rem;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        float: left;
    }

    .navigation li a {
        color: white;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    header,
    nav,
    footer {
        border-radius: 10px;
    }


}