/* 35em is also 560px (if basefont is 16px) tablet view */
@media only screen and (min-width: 37.5rem) {

    header h1 { font-size: 2.5rem;}
    
    header h2 {font-size: 1.5rem;}
    
   
    
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    header,footer {
        border-radius: 10px;
    }

    header img {
        float: left;
    }

}


