@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    /*-----------line-height: 1.5;--------------*/
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    color: #555d66;
}

header {
    margin: 0 auto;
    padding: .3rem 2%;
    max-width: 45rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: white;
    color: #aadcdd;
}

header h1 {
    font-size: 1.4rem;
    margin: 0;
}

header h2 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: .02rem;
    font-weight: normal;
}

header img {
    float: left;
    width: 50px;
    margin: 0 2% 0 0;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #aadcdd;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: white;
    background-color:#555d66;
    font-weight: 700;
}

.responsive li {
    display: block;
}

main {
    margin: 0 auto;
    padding: .75rem;
    max-width: 45rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

main h1 {
    text-align: center;
    clear: both;
}
main section {
    margin: 0.5rem;
    border: 1px solid#f68e36;
    padding: 0 1rem;
    background-color: white;
    text-align: left;
    color: #4d4d4d;
    border-radius: 10px;
}

footer {
    margin: 0 auto;
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: #aadcdd;
    color: white;
    text-align: center;
    max-width: 45rem;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}