;
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*----font-family: 'Roboto', sans-serif;--*/

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*-- BODY --*/
body {
    /*-- BODY font size for the whole page--*/
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #555d66;
}

header h1{
    text-align: center;
    margin: 0 auto;
    padding: .3rem 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: white;
}
section {
    border: 1px solid rgb(231, 231, 231);
    margin: 10px;
    padding: 25px;
    background-color: rgb(127,185,194);
    text-align: center;
    max-width: 45rem;
}
section img {
    max-width: 100%;
    width: 320px;
    height: auto;
    box-shadow: 0 0 10px gray;
}

footer p {
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: white;
    color: #aab1b2;
    text-align: center;
    border-top: 1px solid #aab1b2;
}

footer a {
    color: rgb(127,185,194);
}