
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*----font-family: 'Roboto', sans-serif;--*/

/*-- BODY --*/
body {
    /*-- BODY font size for the whole page--*/
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #555d66;
}

header h1{
    text-align: center;
    margin: 0 auto;
    padding: .3rem 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: white;
    color: rgb(127,185,194);
}
section {
    border: 1px solid rgb(127,185,194);
    margin: 25px;
    padding: .3rem 2%;
    background-color: rgba(127,185,194,.5);
    text-align: center;
    max-width: 35rem;
}
div.cards{
    display: block;
    background-color: white;
    box-shadow: 0 0 5px gray;
    padding: .3rem 2%;
    margin: 0 auto;
}
img {
    display: block;
    margin: auto auto 3% auto;
    max-width: 100%;
    width: 320px;
    height: auto;
    box-shadow: 0 0 5px gray;
    
}
h2{
    margin-bottom: 5px;
    color: rgb(127,185,194);
}
p{
    margin: 0;
}

footer p {
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: white;
    color: #aab1b2;
    text-align: center;
    border-top: 1px solid #aab1b2;
}

footer a {
    color: rgb(127,185,194);
}


@media only screen and (min-width: 32.5rem)
{

    div.cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
}
@media only screen and (min-width: 64em)  {
    div.cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    

}
}