@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #555d66;
}

#message {
    text-align: center;
    color: #f68e36;
    padding: .1rem;
    background-color: rgb(225, 223, 223);
}

.showme {
    display: block
}

.hideme {
    display: none;
}

/*---- flex keeps the header in the middle of the screen --------------*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: .3rem 2%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: white;
    color: #aadcdd;

}

.heading {
    display: flex;
    /*---- flex keeps the header in the middle of the screen --------------*/
    flex-direction: column;
}

.heading h1 {
    font-size: 1.5rem;
    /* margin top right  bottom left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin: 0 0 0 17px;
}

.m {
    font-size: 1rem;
    margin: 0 0 0 17px;
    font-weight: normal;
}

header img {
    width: 50px;
    margin: 0 2% 0 0;
}

nav {
    margin: 0 auto;
    color: #aab1b2;
    padding: .5rem 2%;
    list-style: none;
    text-align: left;
}

nav li.active {
    color: #aadcdd;
    background-color: #ecf0f1;
    text-decoration-line: underline;
    border-radius: 4px;
}

nav ul {
    margin: 0;
    padding: 0;
}

/*---this is the hamburger for the small view------*/
.navigation li:first-child {
    display: block;
    border-top: 1px solid #aab1b2;
    border-bottom: 1px solid #aab1b2;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #aab1b2;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: #aadcdd;
    background-color: white;
    border-radius: 4px;
}

.responsive li {
    display: block;
}

main {
    /* margin top right  bottom margin left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin: 0 auto;
    max-width: 45rem;
    padding: .75rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #aab1b2;

}

main h1,
h2 {
    text-align: center;
    color: #aadcdd;
    clear: both;
}

main h2 {
    font-size: 1.0rem;
}

p {
    margin: .5rem auto;
}

main section {
    margin: 10px;
    color: #aab1b2;
}

main div img {
    max-width: 100%;
}

.herodiv {
    position: relative;
    width: 45rem;
    padding: .75rem;
}


.herodiv img {
    background-color: white;
    width: 44%;
    height: auto;
    border: 1px solid #f68e36;
    border-radius: 2px;
}

.herodiv h2 {
    text-decoration: underline;
    border-radius: 1px;
}

.weathersummary {
    position: absolute;
    top: .5rem;
    left: 1rem;
    background-color: white;
    color: #4d4d4d;
    opacity: .5;
    border: 2px solid #f68e36;
    border-radius: 1px;
    text-align: center;
    font-size: 10px;
}

.forecast {
    display: none;
}

.forecastcontainer {
    display: none;
}

.article {
    /* margin top right  bottom margin left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin: .5rem auto;
    border: 1px solid #f68e36;
    border-radius: 2px;
    background-color: white;
    color: #4d4d4d;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.article img {
    width: 100%;
    height: auto;
}

.article a {
    color: #aadcdd;
}

.figure {
    margin: 0;
}


.contactcontainer {
    margin: 1rem 2%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    background: #f2f2f2;
    grid-gap: 1px 1px;
    text-align: left;
    padding: 1rem 1rem;
    justify-items: center;
}

.map {
    display: none;
}

.address {
    padding-top: 1rem;


}

.icons {
    height: 40px;
    width: 40px;
    padding: .5em;
    flex: 1 0 15em;
}

footer p {
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: white;
    color: #aab1b2;
    text-align: center;
    border-top: 1px solid #aab1b2;
}

footer a {
    color: #aadcdd;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}