@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- BODY ---- preston -- gallery--------*/
body {
    font-size: 16px;
    line-height: 1.5;
    font-family:'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

/*---preston css------*/
#message {
    text-align: center;
    color: #f68e36;
    padding: .1rem;
    background-color: rgb(225, 223, 223);
}

.showme {
    display: block
}

.hideme {
    display: none;
}

/*---- flex keeps the header in the middle of the screen --------------*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: .3rem 2%;
    font-family: 'Ubuntu', sans-serif;
    background: white;
    color: #aadcdd;

}

/*---preston css------*/
.heading {
    display: flex;
    /*---- flex keeps the header in the middle of the screen --------------*/
    flex-direction: column;
}

/*---preston css------*/
.heading h1 {
    font-size: 1.3rem;
    /* margin top right  bottom left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin: 0 0 0 17px;
}

/*---preston css------*/
.m {
    font-size: 1rem;
    margin: 0 0 0 17px;
    font-weight: normal;
}


header {
    border-bottom: 1px solid#aab1b2;
}
main {
    /* margin top right  bottom margin left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin: 0 auto;
    max-width: 45rem;
    padding: .75rem;
    font-family:  'Ubuntu', sans-serif;
}

main {
    text-align: center;
    clear: both;
}



main section {
    margin: 10px;
}

footer p {
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: white;
    color: #aab1b2;
    text-align: center;
    border-top: 1px solid #aab1b2;
}

footer a {
    color: #aadcdd;
}

/*---gallery css = paddding /* top | right | bottom | left */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}