/* 35em is also 560px (if basefont is 16px) tablet view 32.5 rem i s 527.10px
@media only screen and (min-width:560px*/
@media only screen and (min-width: 32.5rem) {
    header img {
        width: 200px;
    }

    header {
        border-bottom: 1px solid#aab1b2;
    }

    .heading h1 {
        font-size: 1.5rem;
    }

    /*-- m*/
    .heading2 {
        font-size: 1.0rem;
    }

    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
   
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;
    }

    .navigation li:first-child {
        display: none;
    }
    /* this is for home page and preston page main picture*/
    .herodiv {
        font-size: 100%;
    }

    .herodiv img {
        width: 100%;
        height: auto;
    }

    #main {
        max-width: 760px;
    }

/*-form legend is the title of the section--*/
form legend {
    /*--add blue color--*/
    color: #aab1b2;
    /*--margin to slide it over-*/
    margin: 0 1rem;
    /*---to push the little line away from the words---*/
    padding: 0 .5rem;
}
article p{
    text-align: left;
}
article figure{
    float: left;
    width: 50%;
    margin-left: 2%;
    padding-bottom: .5rem;
    padding-right: 10px;
}

    .contactcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
        justify-items: center;
    }

    .map {
        display: block;
        padding: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .article img {
        float: left;
        width: 50%;
    }

    .article data {
        float: right;
        justify-content: space-evenly;
        padding: 1rem;
    }

  
}