@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*----font-family: 'Roboto', sans-serif;--*/

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}

/*-- BODY --*/
body {
    /*-- BODY font size for the whole page--*/
    font-size: 100%;
    line-height: 1.5;
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #555d66;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/*---- flex keeps the header in the middle of the screen --------------*/
header {
    display: flex;
    align-items: center;
    padding: .5rem 2%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: white;
    color: #012778;
}

.heading {
    display: flex;
    /*---- flex keeps the header in the middle of the screen --------------*/
    flex-direction: column;
}

.heading h1 {
    font-size: 1em;
    /* margin top right  bottom left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin: 0 0 0 15px;
}

/*---was .m now heading for h2 -----*/
.heading2 {
    font-style: italic;
    font-size: .75rem;
    margin: 0 0 0 15px;
    font-weight: normal;
    color: #555d66;
}

header img {
    width: 155px;
    margin: 0 2% 0 0;
}

nav {
    background-color: #012778;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}

nav li a {
    color: white;
}

nav ul li {
    display: inline-block;
    list-style: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/*---hover states -----*/
nav>ul>li :hover {
    color: white;
    text-decoration: underline;
}

nav>ul>li :hover>a {
    color: #012778;
}


/*--Drop-down Menu -----*/
nav>ul>li>div {
    background-color: #daa520;
    border-top: 0;
    border-radius: 0 0 2px 2px;

    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 165px;
    visibility: hidden;

    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;

}

/*--makes the drop down menu show-----*/
nav>ul>li:hover>div {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav>ul>li>div ul>li {
    display: block;
}

nav>ul>li>div ul>li>a {
    color: #fff;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}

.responsive li {
    display: block;
}

main {
    /* margin top right  bottom margin left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin: 0 auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #aab1b2;

}

main h1,
h2, h3 {
    text-align: center;
    color: #aab1b2;
    clear: both;

}

main h2 {
    font-size: 1.0rem;
}
main h3{
    font-size: .75em;
}

p {
    margin: .5rem auto;
    text-align: center;
}

main section {
    margin: 10px;
    color: #aab1b2;
}

main div img {
    max-width: 100%;
}
/* home only on small screen bring back on medium*/
fieldset{
    border: none;
}
/* home only on small screen bring back on medium*/
legend{
    display: none;
}
 /* home only on small screen bring back on medium*/
label{
    display: none;
}
/*- home fix the button --*/
form input.submitBtn {
    /*-take the border away from the button background color disapperas fix after the border  --*/
    border: none;
    /*-fix background color use the same color we used earlier --*/
    background-color: #012778;
    /*-get the text to show up change it to white --*/
    color: white;
    /*- increase the click area of the button by adding padding --*/
    padding: .75rem .75rem;
    /*-set the width to 96% to match the input on smaller screens --*/
    width: 100%;
    /*- the width changed messed up the view with a larger screen so we are going to add a max-width to correct it just like the input --*/
}

/*---contact */
.form-contact fieldset {

    /*-thing solid blue border--*/
    border: none;
    max-width: 960px;
}
/*---contact */
/*-form legend is the title of the section--*/
.form-contact legend {
    /*--add blue color--*/
    color: #aab1b2;
    /*--margin to slide it over-*/
    margin: 0 1rem;
    /*---to push the little line away from the words---*/
    padding: 0 .5rem;
}
/*---contact */
/*--Style the user instructions label.top = class style the division
 so form div-*/
.form-contact label.top,
.form-contact div {
    /*--display-*/
    display: block;
    /*-seperate from each other using padding  --*/
    padding-top: 1rem;
    /*-change color to red --*/
    color: #aab1b2;
    /*-reduce the font size --*/
    font-size: .8rem;
}
/*---contact */
/*- start with first and third section covers all of the inputs 
next form label top select to include selections--*/
.form-contact label.top input,
.form-contact label.top select {
    /*the validation the drop downs are not following the rules add webikit appearance to none--*/
    -webkit-appearance: none;
    /*- make the boxes to appear below their titles --*/
    display: block;
    /*- adjust font --*/
    font-size: 1rem;
    /*-gray border around the input boxes  --*/
    border: solid 1px #daa520;
    /*-round the corners make them at least 44px so they can be touched on a mobile device-*/
    border-radius: 4px;
    /*-padding to give them space in the box and to get them off of the line in the box --*/
    padding: .75rem;
    /*- change the text color --*/
    color: #aab1b2;
    /*-small screens we want the inputs to be full width --*/
    width: 100%;
    /*-large screens we want the inputs to be smaller so they dont look so dumb we do this by setting a max-width--*/
    max-width: 20rem;
    /*-background color for inputs --*/
    background-color: rgba(0, 0, 0, 0.1);
}
/*---contact */
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=search],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	box-shadow: 0 0 8px #daa520;
	border: 1px solid #daa520;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #012778;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #012778;
	box-shadow:none;

}
.form-style-1 .required{
	color:#daa520;
}


article {
    /* margin top right  bottom margin left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin:0;
    background-color: white;
    color: #4d4d4d;
    padding: 0;
    display: block;
    padding: 0px 20px;
}

article h2{
    margin-top: .7rem;
    color: #384f81;

}

article figure img{
    width: 100%;
    display: block;
    margin: 0 1.5em 0em 0;
}
article figure{
    width: 100%;
    margin: 0;
}
article figcaption{
    text-align: center;
    font-size: .8rem;
}

/*---footer all -----*/
.contactcontainer {
    clear: both;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1px 1px;
    text-align: left;
    justify-items: center;
    padding: 1rem;
    background-color: rgba(1, 39, 120, .4);
    color: white;
}

/*---footer all css------*/
.map {
    display: none;
}

.address h4 {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    clear: both;
}

.address a {
    text-decoration: none;
    color: white;
    clear: both;
}

/*---preston css------*/
.socialMedia img {
    width: 20%;
    clear: both;
}

/*---all css------*/
footer p {
    clear: both;
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: white;
    color: #aab1b2;
    text-align: center;
    border-top: 1px solid #aab1b2;
}

footer a {
    color: #012778;
}

/* contact us */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}