/* 35em is also 560px (if basefont is 16px) tablet view */
@media only screen and (min-width: 32.5rem) {
    header img {
        width: auto;
    }

    header {
        border-bottom: 1px solid#aab1b2;
    }

    .heading h1 {
        font-size: 2.5rem;
    }

    .m {
        font-size: 1.5rem;
    }

    nav {
        border-bottom: 1px solid#aab1b2;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        float: left;
    }

    .herodiv {
        font-size: 100%;

    }
    .herodiv img {
        width: 96%;
    }
    .forecastcontainer {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        background:white;
        text-align: center;
        border-bottom: 1px solid #f68e36;
        padding: .75rem;
        margin: .5rem 2%;
        font-size: .5rem;
    }
    .forecastcontainer img{
        width: 20%;
        padding: .75em;
    }


}
    .article {
        border-bottom: 1px solid #f68e36;

    }
    .article img{
        width: 50%;
        float: left;}

    .contact {
        border-bottom: 1px solid #f68e36;
    }
    .map{
        display: 
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }


    footer {
        border-radius: 10px;
    }


}