/* 35em is also 560px (if basefont is 16px) tablet view */
@media only screen and (min-width: 32.5rem) {
    header img {
        width: 100%;
        height: auto;
    }

    header {
        border-bottom: 1px solid#aab1b2;
    }

    .heading h1 {
        font-size: 2.5rem;
    }

    .m {
        font-size: 1.5rem;
    }

    nav {
        border-bottom: 1px solid#aab1b2;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        float: left;
    }

    .herodiv {
        font-size: 100%;

    }

    .herodiv img {
        width: 96%;

    }
    .forecastcontainer {
        display: block;
        margin: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: 5fr;
        background:rgb(225, 223, 223)
        grid-gap: 1px 1px 1px 1px 1px;
        text-align: center;
        border-bottom: 1px solid #f68e36;
    }

    .cell-1 {
  
    }
    
    .cell-2 {
      
    }
    
    .cell-3 {
       
    }
    
    .cell-4 {
       
    }
    
    .cell-5 {
       
    }
    
    .cell-6 {
       
    }
    
    .cell-7 {
       
    }
    
    .cell-8 {
       
    }
    
    .cell-9 {
        
    }
    .cell-10 {
     
        
    }.cell-11 {
        
    }.cell-12 {
        
    }.cell-13{
        
    }.cell-14 {
        
    }
    .cell-15 {
      
        
    }
    .article {
        border-bottom: 1px solid #f68e36;

    }

    .contact {
        border-bottom: 1px solid #f68e36;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }


    footer {
        border-radius: 10px;
    }


}