/* 35em is also 560px (if basefont is 16px) tablet view */
@media only screen and (min-width: 32.5rem) {
    header img {
        width: auto;
    }

    header {
        border-bottom: 1px solid#aab1b2;
    }

    .heading h1 {
        font-size: 2.5rem;
    }

    .m {
        font-size: 1.5rem;
    }

    nav {
        border-bottom: 1px solid#aab1b2;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        float: left;
    }
   
    .herodiv {
        
        font-size: 100%;

    }

    .herodiv img {
        width: 90%;
        display: block;
    }

    .forecast {
        width: 100%;
        display: block;
        border-top: 1px solid#f68e36;
    }

    .forecastcontainer {
        display: grid;
        grid-template-columns: 80px 80px 80px 80px 80px;
        background: white;
        text-align: center;
        padding: .75rem;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-bottom: 1rem;
        margin: 0 2%;
        font-size: .5rem;
        
        border-bottom: 1px solid#f68e36;
    }

    .forecastcontainer img {
        width: 20%;
        padding: .75em;
    }

  

    .article img {
        width: 100%;
        float: left;
    }


    .map {
        display: block;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }



}