@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*----------- BODY --------------*/
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    color: #555d66;
    margin: 0;
    padding: 0;
}
#banner{
    text-align: center;
    color: #f68e36;
    padding: .1rem;
    background-color: rgb(225, 223, 223);
}
/*---- flex keeps the header in the middle of the screen --------------*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: .3rem 2%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: white;
    color: #aadcdd;
   
}
.heading{
    display: flex; /*---- flex keeps the header in the middle of the screen --------------*/
    flex-direction: column;
}
.heading h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}
.m {
    font-size: 1rem;
    margin: 0 0 0 17px;
    font-weight: normal;
}
header img {
    width: 50px;
    margin: 0 2% 0 0;
}
nav {
    margin: 0 auto;
    color: #aab1b2;
    padding: .5rem 2%;
    list-style: none;
    text-align: left;
}
nav li.active{
    color: #aadcdd;
    background-color:#ecf0f1;
    text-decoration-line: underline;
    border-radius: 4px;
}

nav ul{
    margin: 0; padding: 0;
}
/*---this is the hamburger for the small view------*/
.navigation li:first-child {
    display: block;
    border-top: 1px solid #aab1b2;;
    border-bottom: 1px solid #aab1b2;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    color: #aab1b2;;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}
.navigation a:hover {
    color: #aadcdd;
    background-color: white;
    font-weight: 700;
    border-radius: 4px;
}

.responsive li {
    display: block;
}

main {
    margin: 0 auto;
    padding: .75rem;
    max-width: 45rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

main h1,h2 {
    text-align: center;
    clear: both;
}
main h2{
        font-size: 1.0rem;    

}
h3 {margin: .5rem 2%;}

p {margin: .5rem 2%;}

main section {
    margin: 0.5rem;
    padding: 0 1rem;
    background-color: white;
    text-align: left;
    color: #4d4d4d;
    border-radius: 3px;
}
.herodiv {
    margin: 10px auto;
    position: relative;
    width: 45rem;
    
    
}
.herodiv img{
    padding: .75rem;
    margin: 0.5rem;
    width: 50%;
    height: auto;
    border-bottom: 1px solid gray;
    background-color: white;
}
.herodiv h2{
    font-size: 85%;
    text-decoration: underline ;
}

.weathersummary {
    position: absolute;
    top: 1rem;
    left: 2rem;
    color: #4d4d4d;
    opacity: .5;
    font-size: 70%;
    border: 3px solid #f68e36;
    text-align: center;
    
}
main img{
    width: 100%;
    background-color: #eee;
    height: auto;
}

.forecast{
    display: none;
}
.figure img{
    display: none;
}


.class p{
    text-align: wrap
    ;
}
.icons{
    height:20px;
    width: 20px;
    padding:.5em;
    flex: 1 0 15em;
    margin:.3em;
  }


footer {
    margin: 0 auto;
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: white;
    color: #aab1b2;
    text-align: center;
    max-width: 45rem;

}
footer a{
    color:#aadcdd;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}