@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

/*---body------*/
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #555d66;
}
/*---body links labelled in index.html as a ------*/
body a {
    color: #aadcdd;
}

/*---- flex keeps the header in the middle of the screen --------------*/
header
{
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 0 auto;
    padding: .3rem 2%;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    background: white;
    color: #aadcdd;
    border-bottom: 1px solid#aab1b2;
    margin-top:10px;
    
}

.heading {
    display: flex;
    /*---- flex keeps the header in the middle of the screen --------------*/
    flex-direction: column;
}

h1 {
    font-size: 1.3rem;
    /* margin top right  bottom left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
    margin: 0 0 0 17px;
}
h2{
    font-size: 1rem;
    margin: 0 0 0 17px;
    font-weight: normal;
    align-self: center;
    
}

/*---nav = navigation section as a whole------*/
    /* margin top right  bottom margin left margin: 25px; all four margins are 25px margin: 25px 50px;
top and bottom margins are 25px right and left margins are 50px*/
main {

    margin: 0 auto;
    max-width: 45rem;
    padding: .75rem;
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    color: #aab1b2;

}

main h2{
    font-size: 1rem;
    margin: 1.00rem;
    margin-bottom:.05rem;
    max-width: 75%;

}

footer p {
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: white;
    color: #aab1b2;
    text-align: center;
    border-top: 1px solid #aab1b2;
}

footer a {
    color: #aadcdd;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}