@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*----------- BODY --------------*/
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", Open Sans, Helvetica, Arial, sans-serif;
    color: #555d66;
    margin: 0;
    padding: 0;
}

/*---- flex keeps the header in the middle of the screen --------------*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: .3rem 2%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: white;
    color: #aadcdd;
}
.heading{
    display: flex; /*---- flex keeps the header in the middle of the screen --------------*/
    flex-direction: column;
}
.heading h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}
.m {
    font-size: 1rem;
    margin: 0 0 0 17px;
    font-weight: normal;
}
header img {
    width: 50px;
    margin: 0 2% 0 0;
}
nav {
    margin: 0 auto;
    background-color: #aadcdd;
    color: white;
    padding: .5rem 2%;
}

.navigation {
    list-style: none;
    text-align: left;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: white;
    background-color: #aab1b2;
    font-weight: 700;
}

.responsive li {
    display: block;
}

main {
    margin: 0 auto;
    padding: .75rem;
    max-width: 45rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

main h1 , h2{
    text-align: center;
    clear: both;
}

main h3{
    text-align: left;
}
.hero-ph{
    margin: 10px auto;
    background-color: #eee;
    border: 1px solid #333;
   width: 960px;
    height: 300px;
    border: 1px solid#f68e36;
}

.herodiv{
    margin: 10px auto;
    position: relative;
     border: 1px solid#f68e36;
    
}
.weathersummary{
    position: absolute;
    top:10px;


}
footer {
    margin: 0 auto;
    padding: .75rem;
    font-size: .8rem;
    margin-top: 5px;
    background: #aadcdd;
    color: white;
    text-align: center;
    max-width: 45rem;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}